{
    "./**/*.{ts,tsx,js,jsx}": [
      "eslint --fix"
    ],
    "./**/*.scss": [
      "stylelint --syntax scss"
    ],
    "**/*.css": [
      "stylelint --fix"
    ],
    "**/*.html": [
      "htmlhint . --config .htmlhintrc"
    ]
}
